.tarjeta{
    width: 18rem;
}

.navbar {
    background-color: aliceblue;
}

.navbar img{
    width: 30%;
    height: 30%;
}


.favoritos{
    background: #fff;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: rgb(181, 185, 186);
}
.favoritos button {
    width : 10%;
    height : 10%;
    margin: 0px;
    padding: 0px;
    color: rgb(181, 185, 186);
    border: 0px;
}