.tarjeta{
    width: 18rem;
}

.navbar {
    background-color: aliceblue;
}

.logo{
    width: 15%;
    height: 15%;
}


.favoritos{
    background: #fff;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: rgb(181, 185, 186);
}
.favoritos button {
    width : 10%;
    height : 10%;
    margin: 0px;
    padding: 0px;
    color: rgb(181, 185, 186);
    border: 0px;
}

.divListaFavoritos {
    display: flex;
    font-size: medium;
    padding: 1px;
    margin: 0px;
}

.colorPlanetas {
    color: rgb(4, 102, 250);
}

.colorCharacters {
    color: rgb(133, 5, 180);
}


.tarjeta{
    width: 18rem;
    margin: 10px 10px 10px;
}

.tarjeta img {
    max-width: 400px;
    max-height: 200px;
}

.carrusel > .row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .carrusel > .row > .col-4 {
    display: inline-block;
  }